<form action="/api/cookie" method="post">
  <input type="text" name="name" id="name" placeholder="Name" />
  <input type="email" name="email" id="email" placeholder="Email" />
  <input type="submit" value="submit" />
</form>
<button onclick="location.href='/get-cookie'"></button>