<h1>Restaurar Password</h1>

<form action="/api/sessions/restaurar" method="post">
  <input type="email" name="email" id="email" placeholder="Email" />
  <input
    type="password"
    name="password"
    id="password"
    placeholder="New Password"
  />
  <input type="submit" value="Restaurar" />
</form>

<button><a href="/api/views/login">LOGIN</a></button>