<h1>Crear Cuenta</h1>

<form action="/api/sessions/signup" method="post">
  <input
    type="text"
    name="first_name"
    id="first_name"
    placeholder="first name"
  />
  <input type="text" name="last_name" id="last_name" placeholder="last name" />
  <input type="text" name="age" id="age" placeholder="age" />
  <input type="password" name="password" id="password" placeholder="password" />
  <input type="email" name="email" id="email" placeholder="Email" />
  <input type="submit" value="Sign Up" />
</form>

<button><a href="/api/views/login">LOGIN</a></button>

<button onclick="location.href='/api/sessions/auth/github'">GitHub</button>